<h1>Movies List</h1>

<% if @user %>
<h3>You are signed in as <%= @user.email %></h3>
<% end %>

<%= flash[:notice_movie_added] %>
<%= flash[:notice_movie_deleted] %>
<%= flash[:notice_movie_updated] %>

<% @movies.each do |movie| %>
<div>
  <ul>
    <h3>
    <%= movie.title %>
    </h3>
    <form action="/movies/<%= movie.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
    <form action="/movies/<%= movie.id %>/edit" method="get">
      <input type="submit" value="Edit">
    </form>
    <form action="/movies/<%= movie.id %>/comments/new" method="get">
      <input type="submit" value="Add comment">
    </form>
    <% movie.comments.each do |comment| %>
      <li><%= comment.text %></li>
    <% end %>
  </ul>
  <br>
  <% end %>
</div>

<br>

<a href='/movies/new'><button>Add Movie</button></a>
